@font-face {
    font-family: 'Levitation';
    src: url(../assets/fonts/Levitation-7BnPB.ttf);
}

@font-face {
    font-family: 'Whitney';
    src: url(../assets/fonts/whitneybook.otf);
}

@font-face {
    font-family: 'Whitney Light';
    src: url(../assets/fonts/whitneylight.otf);
}

:root {
    --background-color: #0c0c0c;
    --main-color: #fcde9b;

    --profile-border: linear-gradient(#896e3d, #ffdc8a);
    --profile-background: rgba(0, 0, 0, 0.466);

    --discord-font: 'Whitney', sans-serif;
    --discord-light-font: 'Whitney Light', sans-serif;
    --levitation-font: 'Levitation', sans-serif;
    --inconsola-font: 'Inconsolata', monospace;
    --comfortaa-font: 'Comfortaa', cursive;
}

body {
    background-color: var(--background-color);
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    animation: fadeIn 0.6s ease;
}
  
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    z-index: -1;
}

body > * {
    text-rendering: optimizeLegibility;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    z-index: 1;
    align-items: center;
    overflow-y: auto;
    box-sizing: border-box;
}

.discord-profile {
    width: 328px;
    height: 522px;
    display: flex;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    animation: popIn 300ms ease-in, rubberBand 700ms ease-in-out;
    animation-delay: 0s, 300ms;
}

.discord-profile-main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
}

.discord-profile-main::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    background: var(--profile-border);
    z-index: 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.discord-profile-main-bg {
    position: relative;
    width: 100%;
    min-height: 417px;
    background: var(--profile-background);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
}

.discord-profile-main-pfp {
    clip-path: url(#pfp-mask);
    width: 92px;
    height: 92px;
    position: absolute;
    top: 52px;
    left: 12px;
    margin-top: 4px;
    margin-left: 20px;
    border-radius: 100%;
    z-index: 1;
}

.discord-profile-main-pfp foreignObject#pfp {
    border-radius: 100%;
    background-image: url(../assets/discord/taco.gif);
    background-size: cover;
}

.discord-profile-main-banner {
    height: 105px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-image: url(../assets/discord/tekki_banner.gif);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.discord-profile-main-bg-inner {
    padding: 16px;
    padding-top: 0;
    padding-bottom: 8px;
    width: 100%;
    height: calc(100% - 40px);
    margin-top: 40px;
    box-sizing: border-box;
}

.discord-profile-user-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 8px;
    padding: 0;
}

.visible-username {
    font-family: var(--discord-font);
    height: 30px;
    width: 100%;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.subtitle-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--discord-light-font);
    margin-left: 2px;
    padding: 0;
}

.dot-spacer {
    margin-left: 5px;
    margin-right: 5px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: white;
}

.user-badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(100, 100, 100, 0.4);
    width: auto;
    height: 26px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 1px;
}

.user-badges img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
    position: relative;
}

#nitro-badge:hover::after {
    content: "I dont rlly have nitro 💀";
    position: absolute;
    top: 26px;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 5px;
    z-index: 1;
    white-space: nowrap;
}

#developer-badge:hover::after {
    content: "The best that has ever lived 😎";
    position: absolute;
    top: 26px;
    white-space: nowrap;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 5px;
    z-index: 1;
}

#alias-badge:hover::after {
    content: "Original alias: Takkeshi#1100";
    position: absolute;
    top: 26px;
    white-space: nowrap;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 5px;
    z-index: 1;
}

.discord-activity {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    padding: 8px;
}

.discord-activity-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0;
    margin: 0;
}

.activity-cover {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.activity-data {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 8px;
    width: 100%;
    padding: 0;
}

.activity-data h1 {
    font-family: var(--discord-font);
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.activity-data h2 {
    font-family: var(--discord-light-font);
    font-size: 12px;
    margin: 0;
    margin-left: 2px;
    padding: 0;
}

.timeline-container {
    width: 100%;
}

#song-timeline {
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#song-progress {
    width: 0;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.song-time {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-family: var(--discord-light-font);
    font-size: 12px;
    font-weight: bold;
}

.discord-activity-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(90, 67, 20);
    border-radius: 5px;
    padding: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0;
    height: 32px;
    font-size: 14px;
    font-family: var(--discord-font);
    color: white;
    width: 100%;
    margin-top: 8px;
    transition: filter 0.2s;
}

.discord-activity-button:hover {
    filter: brightness(0.9);
}

.discord-message {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0;
    margin-top: 8px;
}

.discord-message form {
    width: 100%;
    height: 100%;
}

.discord-message input {
    width: 100%;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-radius: 5px;
    padding: 8px;
    font-family: var(--discord-font);
    color: white;
    font-size: 14px;
    margin-top: 8px;
    height: 44px;
    transition: all 0.2s ease-in;
}

.discord-message input:focus {
    outline: none;
    filter: brightness(0.9);
}

#return-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 10px black;
    transition: all 0.3s ease;
}

#return-arrow:hover {
    color: var(--main-color);
    scale: 1.1;
    cursor: pointer;
}